# Data Science Tools and Ecosystem

##Author
Wiktor

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**


*   GitHub and version control
*   R and plotting with it
*   Introduction to Data Science
* Jupiter Notebook

Some of the popular languages that Data Scientists use are:


1.   Python
2.   R
3.   SQL
4.   Julia
5. Ruby
6. Bash

Some of the commonly used libraries used by Data Scientists include:


1. Plotly
2. Seaborn
3. Tensorflow
4. Matplotlib
5. Pytorch
6. Pandas

<table>

</table>

<table ><tr><th >Data Science Tools <th><th> <tr><tr>
<tr><td> VSCode <td><td>
<tr><td> Pycharm <td><td>
<tr><td> Google Colab<td><td>

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by deviding by 60
minutes = 200
hours = minutes / 60
print(hours)

3.3333333333333335